.custom-otp-input {
    width: 40px;
    font-size: 36px;
    appearance: none;
    text-align: center;
    transition: all 0.2s;
    background: var(--desert-sand);
    border-bottom: 2px solid var(--deep-brown);
}

.custom-otp-input:focus {
    outline: 0 none;
    color: var(--deep-brown);
    border-bottom: 2px solid var(--deep-brown);
}

.dot-separator {
    font-size: 48px;
    color: var(--deep-brown);
    margin: 0 10px;
    display: flex;
    align-items: flex-end; /* Align the dot to the bottom */
    justify-content: center;
    transform: translateY(12px); 
}