:root {
  --warm-beige: #F2E9E1;
  --deep-brown: #3B2C35;
  --muted-olive: #8C8D6D;
  --soft-amber: #E0B084;
  --soft-green: #A3B18A;
  --desert-sand: #dbc9ba;
}

#root {
  height: 100vh;
}

.shadow-box {
  background-color: var(--warm-beige);

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),

    0 6px 6px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s ease-in-out;
}

.shadow-box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2),
    0 8px 8px rgba(0, 0, 0, 0.1);
}

input {
  border: 1px solid var(--deep-brown);
  border-radius: 10px;
  background-color: var(--desert-sand);
  padding: 10px;
  font-size: 1rem;
  color: var(--white);
}

input::placeholder {
  color: var(--deep-brown);
}

input:focus {
  outline: none;
  border: 1px solid var(--muted-olive);
  background-color: var(--soft-green);
  color: var(--warm-beige);
  box-shadow: 0 0 0 0.1rem var(--muted-olive);
}

input:focus::placeholder {
  color: var(--white);
}

input[type="radio"]:checked {
  background-color: var(--soft-amber) !important;
}

.button-submit {
  background-color: var(--deep-brown);
  color: var(--warm-beige);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-submit:hover {
  background-color: var(--muted-olive);
  border: none;
}

.button-submit:focus {
  outline: none;
  box-shadow: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--deep-brown) transparent;
}


*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--deep-brown);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--muted-olive);
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.blurred-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.blurred-background::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url('./assets/img/lofi.png');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

.uk-card {
  transition: box-shadow 0.3s ease-in-out;
}


.uk-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uk-text-muted {
  color: var(--muted-olive) !important;
}

@media (max-width: 800px) and (max-height: 480px) {
  html {
    zoom: 0.4167;
    /* 800/1920 = 0.4167 */
  }
}